<div class="four wide column centre aligned votes">
  <div class="ui statistic">
    <div class="value">
      {{votes}}
    </div>
    <div class="label">
      Points
    </div>
  </div>
</div>
<div class="twelve wide column">
  <!--the value of the href will be dynamically populated with the value of the link from the component class-->
  <a class="ui large header" href="{{link}}">
    {{title}}
  </a>
  <ul class="ui big horizontal list voters">
    <li class="item">
      <!-- (click) binds the voteUp() to respective buttons-->
      <a href (click)="voteUp()">
        <i class="arrow up icon"></i>
        upvote
      </a>
    </li>
    <li class="item">
      <a href (click)="voteDown()">
        <i class="arrow down icon"></i>
        downvote
      </a>
    </li>
  </ul>
</div>